/*全局*/
.mybody{
    margin-top: 0px;
    border: 0;
    padding: 0em;
    outline: none;
    font-size: 12px;
    position: relative;
    background-attachment: fixed;
    background-size: auto;
    background: transparent url("../../image/bg.jpg") no-repeat scroll -50px -100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
p{
    font-size: 12px;
}
ul{
    list-style-type: none;
}
button{
    border: 0;
    width: 50px;
    height: 50px;
}
button:hover{
    background-color: rgba(127, 255, 55, 0.9);
}
/*去除jquery-mobile加载时候弹出来的loading*/
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

/*上面的导航*/
.menu-top{
    height: auto;
    position: relative;
    text-align: center;
    /*padding-top: 10px;*/
    overflow: auto;
    /*background-color: #61749B;*/
    /*background: transparent url("../../tree_images/index.png") no-repeat scroll -10px -10px;*/
}
.top-left{
    float: left;
    margin-top: 10px;
}
.top-right{
    margin-top: 10px;
    float: left;
}
.account{
    font-family: weui;
    height: 20px;
    width: 80%;
    border-radius: 5px;
    background-color: rgba(127, 256, 212, 0.7);
}

.my-img{
    padding-left: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.right-area{
    background-color: #0BB20C;
    height: 100%;
}

/*下面内容*/
.container{
    width: 100%;
}
.main-container{
    height: 100%;
    text-align: center;

}
/*右边的导航*/
.right-menu,.left-menu{
    margin-top: 10%;
    border-right: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.right-menu button,.left-menu button{
    display: none;
    background-color: rgba(255,255,255, 0.6);
    margin-top: 20px;
    /*width: 100%;*/
    /*height: ;*/
    border: 0px;
    border-radius: 25px;
}
.right-menu button:hover,.left-menu button:hover{
    background-color: rgba(127,255,55,0.9);
}
/*树木区域*/
.tree-img {
    margin-top: 35%;
    width: 90%;
    height: 250px;
    margin-left: 5%;
    /*margin-top: 100%;*/
    /*clip: rect(350px,400px,400px,330px);*/
}
.tree-img img{

    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.tree-name-show{
    position: absolute;
    /*bottom: 0px;*/
    top: 80%;
    left: 25%;
    width: 50%;
    border-radius: 5px;
    background-color: rgba(197, 76, 12, 0.7);
}

.bless-tucao{
    position: absolute;
    /*bottom: 0px;*/
    top: 80%;
    left: 35%;
    /*margin-left: 30%;*/
    /*margin-top: 10%;*/
    /*padding-right: 10px;*/
    /*height: 20%;*/
}
/*页脚*/
.footer{
    margin-top: 0px;
}

/***********************某些部件************************/
/*1.显示历史与心愿的list*/
.list-contain{
    /*height: 65%;*/
    position: fixed;
    z-index: 13;
    width: 70%;
    top: 15%;
    left: 15%;
    /*padding-top: 0px;*/
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 3px 2px rgba(0,0,0,0.1);
    padding: 0px 5px 10px 5px;
    border-radius: 3px;
}
/*列表一个实例*/
.list-item-hd{
    text-align: center;
}
.list-btn{
    margin-top: 10px;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #04BE02;
}
.item-con{
    width: 95%;
}
.item-left{
    position: relative;
    width: 20%;
}
.item-main{
    width: 70%;
}
.item-right{
    width: 10%;
}
.list-item-more{
    display: block;
    border-radius: 5px;
    color: #aaa;
    width: 80%;
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    margin: 15px auto 5px auto;
    cursor: pointer;
}
.history-bless-img{
    padding-left: 0;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.history-bless-name{
    position: absolute;
    /*z-index: 13;*/
    left: 15px;
    top: 18px;
    font-size: 9px;
    border-radius: 3px;
    background-color: rgba(16,175,255,0.8);
}
.table_line{
    filter: alpha(opacity=100,finishOpacity=0);
    width:80%;
    margin-left: 10%;
    color:#987cb9;
}


/******
    弹出框，祝福或者吐槽
*/
.weui_btn_dialog{
    margin:0 ;
}
.weui_dialog_ft{
    margin: 0;
}
