<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>主页面</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../static/tree/css/main.css">

    <link rel="stylesheet" type="text/css" href="plugin/jquery-mobile/jquery.mobile-1.4.4.min.css">
    <link rel="stylesheet" type="text/css" href="../static/plugin/weui/weui.min.css">
    <link href="//cdn.bootcss.com/pure/0.6.0/pure-min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

    <!--js-->
    <script src="../static/plugin/jquery/jquery.min.js"></script>
    <script src="../static/plugin/jquery/jquery.color.js"></script>
    <!--<script src="../static/plugin/jquery/jquery.mobile-1.4.4.min.js"></script>-->
    <script src="../static/tree/js/jquery.lqc.extension.js"></script>
    <script src="../static/tree/js/main.js"></script>


</head>
<body class="my-body">
<!--顶部-->
<div class="menu-top">
    <div class="menu-top-con">
        <!--头像-->
        <div class="self-avatar">
            <a><img class="avatar" src="../static/tree/image/btn/friends.png"></a>
        </div>
        <!--积分条-->
        <div class="count-progress">
            <div class="progress">
                <span class="progress-bar"><span class="progress-in" style="width: 85%"></span></span>
            </div>
            <div class="count-num"><p>积分：25500</p></div>
        </div>
        <!--排行-->
        <div class="rank">
            <a><img class="rank-btn" src="../static/tree/image/btn/rank.png"></a>
        </div>
        <!--提醒-->
        <div class="tips">
            <a><img class="tips-btn" src="../static/tree/image/btn/tips.png"></a>
        </div>
    </div>
</div>

<!--内容-->
<div class="main-container">
    <div class="main-tree pure-u-19-24">
        <div class="tree-area"><img src="../static/tree/image/others/tree.png"></div>
        <div class="tree-name">
            <img src="../static/tree/image/others/name.png">
            <p class="name">叶良辰的树</p>
        </div>
    </div>
    <div class="main-right pure-u-5-24">
        <ul class="right-btn">
            <!--朋友-->
            <li><img class="friends" src="../static/tree/image/btn/friends.png"></li>
            <!--浇水-->
            <li><img class="water-flower" src="../static/tree/image/btn/water.png"></li>
            <!--历史-->
            <li><img class="history" src="../static/tree/image/btn/history.png"></li>
            <!--心愿-->
            <li><img class="willing" src="../static/tree/image/btn/willing.png"></li>
        </ul>
    </div>
</div>

<!--脚本-->
<div class="footer"></div>
</body>
</html>